<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name = "android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name="com.saudi.remindme.NotifyService"
            android:enabled="true"
            android:exported="false"
            />

        <activity
            android:name=".consultant.MainConsultantActivity"
            android:exported="false"
            android:label="@string/title_activity_main_consultant"
            android:theme="@style/Theme.RemindMe.NoActionBar" />
        <activity
            android:name=".user.MainUserActivity2"
            android:exported="true"
            android:label="@string/title_activity_main_user2"
            android:theme="@style/Theme.RemindMe.NoActionBar" />
        <activity
            android:name=".admin.MainAdminActivity"
            android:exported="true"
            android:label="@string/title_activity_main_user2"
            android:theme="@style/Theme.RemindMe.NoActionBar" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".account.LogInActivity"
            android:exported="false"
            android:theme="@style/AppTheme.LoginScreenTheme2"/>
        <activity
            android:name=".account.UserSignUpActivity"
            android:theme="@style/AppTheme.LoginScreenTheme2" />
        <activity
            android:name=".account.RegisterAsActivity"
            android:theme="@style/AppTheme.LoginScreenTheme2" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.LoginScreenTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".account.ConsultantSignUpActivity"
            android:theme="@style/AppTheme.LoginScreenTheme2" />
        <activity
            android:name=".consultant.GameAddActivity"
            android:theme="@style/AppTheme.LoginScreenTheme" />
        <activity
            android:name=".consultant.GameEditActivity"
            android:theme="@style/AppTheme.LoginScreenTheme" />
        <activity
            android:name=".user.NewReminderActivity"
            android:theme="@style/AppTheme.LoginScreenTheme" />
        <activity
            android:name=".user.ChatActivity"
            android:theme="@style/Theme.RemindMe.NoActionBar" />
        <activity
            android:name=".user.EvaluationActivity"
            android:theme="@style/AppTheme.LoginScreenTheme" />
        <activity
            android:name=".user.FindConsultantActivity"
            android:theme="@style/AppTheme.LoginScreenTheme" />
        <activity
            android:name=".consultant.ChatActivity"
            android:theme="@style/Theme.RemindMe.NoActionBar" />

        <receiver android:name=".AlarmReceiver"   />
    </application>

</manifest>